---
import Avatar from '../components/Avatar.astro';
import ContactForm from '../components/ContactForm.astro';
import InlineLink from '../components/InlineLink.astro';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
import { resumeExperience } from '../assets/experience';
import Experience from '../components/Experience.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Caleb D. Williams | Home"
  description="Hello, I'm Caleb. I'm a front-end developer located in Dallas, TX, USA."
>
	<main>
    <header>
      <Avatar alignSelf='start'/>
      <h1>Caleb Williams</h1>
      <h2>Senior Lead Front-End Engineer at Capital One</h2>
    </header>

    <Nav />
    <article class="content">

      <section class="content-section">
        <p>With over ten years of experience as a front-end developer and designer (the last six at Capital One), I am passionate about creating user-friendly, accessible, performant web experiences that meet business needs and delight customers. I specialize in web platform technologies, such as TypeScript, CSS, HTML, Web Components and modern frameworks and I lead the strategy, architecture and development of a design system that supports more than 250 projects across the enterprise.</p>

        <p>As an trusted accessibility partner for Capital One Design, I also advocate for customers of all ability levels and coach other developers on best practices and standards for web development. I enjoy sharing my knowledge and expertise through articles, talks and mentoring and I aim to build up and lead others in advancing the web and our products. I am always eager to learn new skills, explore new challenges and collaborate with cross-functional teams to deliver high-quality user experiences.</p>
      </section>

      <section class="content-section">
        <h3>Experience</h3>

        <ul class="experience">
          {resumeExperience.map(experience => <Experience
            company={experience.company}
            endDate={experience.endDate}
            shortDescription={experience.shortDescription}
            startDate={experience.startDate}
            title={experience.title}
            href={experience.href}
          />)}
        </ul>
      </section>

      <section id="contact" class="contact">
        <h2>Get in touch</h2>
        <p>Interested to know how I can help on your next project? Reach out on <InlineLink href="https://www.linkedin.com/in/calebdavidwilliams">LinkedIn</InlineLink> or fill out the form below.</p>
        <ContactForm/>
      </section>

      <Footer/>
    </article>
	</main>
</Layout>

<style>
  main {
    display: grid;
    grid-template: "header nav" "header content";
    grid-template-columns: 1fr 1.61fr;
    gap: var(--size-8);
  }
  main header {
    display: flex;
    flex-flow: column;
    gap: var(--size-4);
    grid-area: header;
    justify-content: center;
    position: sticky;
      top: 0;
    max-height: 100dvh;
  }
  h1 {
		font-family: var(--font-sans);
		font-size: var(--font-size-fluid-3);
		font-weight: var(--font-weight-6);
	}
	h2 {
		color: var(--text-2);
		font-size: var(--font-size-fluid-1);
		font-weight: var(--font-weight-3);
	}
  h3 {
		color: var(--text-2);
		font-size: var(--font-size-fluid-1);
		font-weight: var(--font-weight-3);
	}
  .content {
    display: flex;
    flex-flow: column;
    gap: var(--size-12);
    grid-area: content;
    padding-block-start: var(--size-10);
  }
  .content-section {
    display: flex;
    flex-flow: column;
    gap: var(--size-4);
  }
  .content-section p {
    font-size: var(--font-size-fluid-0);
  }
  .experience {
    padding: 0;
  }
  .contact,
	.quick-bio {
		display: flex;
		flex-flow: column;
		gap: 16px;
	}
  @media (max-width: 1000px) {
    main {
      display: grid;
      gap: var(--size-10);
      grid-template: "nav" "header" "content";
    }
    main header {
      position: static;
    }
    .content {
      padding: 0;
    }
  }
</style>
