---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import InlineLink from '../components/InlineLink.astro';
import Nav from '../components/Nav.astro';

import { articles, openSourceProjects, workProjects } from '../assets/data.js';
---

<Layout title="Portfolio">
  <main>
    <article>
      <h1>Portfolio</h1>

      <p>As an employee at Capital One a great deal of my work from the past several years is spread across a variety of pages both internal and external.</p>

      <p>Unfortunately much of my day-to-day work cannot be open sourced or shared; however, here I've compiled a selection of examples I've done outside of Capital One that I believe are representative of my work.</p>

      <p>This page is broken up into three sections:</p>

      <ul>
        <li><InlineLink href="#work">Examples in the wild</InlineLink></li>
        <li><InlineLink href="#open-source">Open source projects</InlineLink></li>
        <li><InlineLink href="#writing">Articles I've written</InlineLink></li>
      </ul>

      <section id="work" class="project-group">
        <h2>Examples in the wild</h2>

        <p>As a senior-lead front-end developer at Capital One, my primary responsibility is to lead the developement efforts on the FS Design System.</p>

        <p>The FS Design System is design and developed entirely in-house to meet the highest performance and accessibility standards and create a common language for designers, developers and product partners.</p>

        <p>In addition to developing and evangelizing the design system, I am also responsible for helping implementers apply the system in their applications, working in frameworks as varied as React, Solid, Angular and Lit.</p>

        <p>Although the system is inner-sourced only, here are a few external-facing examples of the design system in action.</p>


        <ul class="projects projects--work">
          {workProjects.map(project => <Card
            title={project.title}
            body={project.body}
            href={project.href}
          />)}
        </ul>
      </section>

      <hr>

      <section id="open-source" class="project-group">
          <h2>Open source projects</h2>

          <p>A collection of projects I wrote and currently maintain. This work touches thousands of developers and projects each week.</p>
          <ul class="projects">
            {openSourceProjects.map(project => <Card
              title={project.title}
              body={project.body}
              href={project.href}
            />)}
          </ul>
      </section>

      <hr>

      <section id="writing" class="project-group">
        <h2>Published articles</h2>

        <p>A collection of articles written and published, mostly for <a href="https://css-tricks.com">CSS-Tricks</a>.</p>

        <ul class="projects">
          {articles.map(article => <Card
              title={article.title}
              body={article.body}
              href={article.href}
          />)}
        </ul>
      </section>
    </article>
  </main>
</Layout>

<style>
  h1 {
    font-family: var(--font-sans);
    font-size: var(--font-size-fluid-3);
    font-weight: var(--font-weight-2);
  }
  h2 {
    font-size: var(--font-size-fluid-1);
    font-weight: var(--font-weight-4);
  }
  p {
    font-size: var(--font-size-fluid-0);
  }
  article {
    display: flex;
    flex-flow: column;
    gap: 16px;
  }
  .project-group {
    container: projects / inline-size;
    display: flex;
    flex-flow: column;
    gap: 12px;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .projects--work {
    grid-template-columns: 1fr;
  }
  .projects li {
    border-radius: 8px;
    max-inline-size: unset;
  }
  @container projects (max-width: 400px) {
    .projects {
      grid-template-columns: 1fr;
    }
  }
</style>
